In [2]:
from datascience import *
import numpy as np
#plotting functions
%matplotlib inline
import matplotlib.pyplot as plots
plots.style.use('fivethirtyeight')
import warnings
warnings.simplefilter(action="ignore", category=FutureWarning)

In [3]:
pokemon=Table.read_table('https://raw.githubusercontent.com/lujiec2020/UMBC-IS296-Fall2022/main/student-data/Pokemon.csv')
pokemon

#    | Name                      | Type 1 | Type 2 | Total | HP   | Attack | Defense | Sp. Atk | Sp. Def | Speed | Generation | Legendary
1    | Bulbasaur                 | Grass  | Poison | 318   | 45   | 49     | 49      | 65      | 65      | 45    | 1          | False
2    | Ivysaur                   | Grass  | Poison | 405   | 60   | 62     | 63      | 80      | 80      | 60    | 1          | False
3    | Venusaur                  | Grass  | Poison | 525   | 80   | 82     | 83      | 100     | 100     | 80    | 1          | False
3    | VenusaurMega Venusaur     | Grass  | Poison | 625   | 80   | 100    | 123     | 122     | 120     | 80    | 1          | False
4    | Charmander                | Fire   | nan    | 309   | 39   | 52     | 43      | 60      | 50      | 65    | 1          | False
5    | Charmeleon                | Fire   | nan    | 405   | 58   | 64     | 58      | 80      | 65      | 80    | 1          | False
6    | Charizard                 | Fire   | Flying | 534   | 78   | 84     | 78      | 109     | 85      | 100   | 1          | False
6    | CharizardMega Charizard X | Fire   | Dragon | 634   | 78   | 130    | 111     | 130     | 85      | 100   | 1          | False
6    | CharizardMega Charizard Y | Fire   | Flying | 634   | 78   | 104    | 78      | 159     | 115     | 100   | 1          | False
7    | Squirtle                  | Water  | nan    | 314   | 44   | 48     | 65      | 50      | 64      | 43    | 1          | False
... (790 rows omitted)

### How many Pokemon from the dataset identify as both grass and poison? (Satwik)

In [4]:
pokemon.where('Type 1','Grass').where('Type 2','Poison').num_rows

15

### Which type of Pokemon ( type 1) has the highest attack stat? (Dang)

In [10]:
pokemon.select('Type 1', 'Attack').group('Type 1',np.mean).sort('Attack mean', descending=True).column('Type 1')[0]

'Dragon'

### how many Pokemon have above-average attack tendency and defense tendency ? (Vigna)

In [13]:
mean_attack = np.mean(pokemon.column('Attack'))
mean_defense = np.mean(pokemon.column('Defense'))
pokemon.where('Attack', are.above_or_equal_to(mean_attack)).where('Defense', are.above_or_equal_to(mean_defense)).num_rows

237

### find all Pokeman belong to the legendary category (Gabe)

In [17]:
pokemon.where('Legendary', True).column('Name')

array(['Articuno', 'Zapdos', 'Moltres', 'Mewtwo', 'MewtwoMega Mewtwo X',
       'MewtwoMega Mewtwo Y', 'Raikou', 'Entei', 'Suicune', 'Lugia',
       'Ho-oh', 'Regirock', 'Regice', 'Registeel', 'Latias',
       'LatiasMega Latias', 'Latios', 'LatiosMega Latios', 'Kyogre',
       'KyogrePrimal Kyogre', 'Groudon', 'GroudonPrimal Groudon',
       'Rayquaza', 'RayquazaMega Rayquaza', 'Jirachi',
       'DeoxysNormal Forme', 'DeoxysAttack Forme', 'DeoxysDefense Forme',
       'DeoxysSpeed Forme', 'Uxie', 'Mesprit', 'Azelf', 'Dialga', 'Palkia',
       'Heatran', 'Regigigas', 'GiratinaAltered Forme',
       'GiratinaOrigin Forme', 'Darkrai', 'ShayminLand Forme',
       'ShayminSky Forme', 'Arceus', 'Victini', 'Cobalion', 'Terrakion',
       'Virizion', 'TornadusIncarnate Forme', 'TornadusTherian Forme',
       'ThundurusIncarnate Forme', 'ThundurusTherian Forme', 'Reshiram',
       'Zekrom', 'LandorusIncarnate Forme', 'LandorusTherian Forme',
       'Kyurem', 'KyuremBlack Kyurem', 'KyuremWhite Kyurem', 'Xerneas',
       'Yveltal', 'Zygarde50% Forme', 'Diancie', 'DiancieMega Diancie',
       'HoopaHoopa Confined', 'HoopaHoopa Unbound', 'Volcanion'],
      dtype='<U25')

### for each of type 1, what is the higest speed ? (Julie, modified)

In [18]:
pokemon.select('Type 1', 'Speed').group('Type 1', np.max)

Type 1   | Speed amax
Bug      | 160
Dark     | 125
Dragon   | 120
Electric | 140
Fairy    | 99
Fighting | 118
Fire     | 126
Flying   | 123
Ghost    | 130
Grass    | 145
... (8 rows omitted)

### for Pokemon in each type (type1 and type2), creating a cross tabulation, and find thier average HP (Karen)

In [20]:
pokemon.pivot('Type 1', 'Type 2', 'HP', np.mean)

Type 2   | Bug  | Dark | Dragon  | Electric | Fairy | Fighting | Fire | Flying | Ghost   | Grass   | Ground  | Ice  | Normal  | Poison  | Psychic | Rock | Steel   | Water
Bug      | 0    | 0    | 0       | 0        | 0     | 0        | 0    | 0      | 0       | 0       | 0       | 0    | 0       | 40      | 0       | 60   | 0       | 0
Dark     | 0    | 0    | 0       | 0        | 0     | 95       | 0    | 0      | 50      | 76.6667 | 68.3333 | 0    | 0       | 78.6667 | 80      | 100  | 0       | 69.1667
Dragon   | 0    | 72   | 0       | 90       | 0     | 0        | 78   | 62.5   | 150     | 70      | 65      | 0    | 0       | 65      | 0       | 70   | 100     | 82.5
Electric | 60   | 0    | 100     | 0        | 0     | 0        | 0    | 0      | 0       | 0       | 109     | 0    | 0       | 0       | 0       | 0    | 0       | 100
Fairy    | 0    | 0    | 75      | 67       | 0     | 0        | 0    | 0      | 0       | 50      | 0       | 0    | 99.6    | 0       | 43.6667 | 50   | 52.3333 | 85
Fighting | 80   | 57.5 | 0       | 0        | 0     | 0        | 80   | 0      | 0       | 79.6667 | 0       | 0    | 82.5    | 65.5    | 80.6667 | 91   | 91      | 90.6667
Fire     | 70   | 65   | 100     | 50       | 0     | 0        | 0    | 0      | 56.6667 | 0       | 100     | 0    | 0       | 0       | 100     | 0    | 0       | 0
Flying   | 63   | 93.2 | 94.3333 | 70.6     | 70    | 78       | 82   | 0      | 120     | 72.8    | 79.5    | 67.5 | 62.0417 | 66.6667 | 67.5    | 72.5 | 65      | 63.1429
Ghost    | 1    | 50   | 0       | 50       | 0     | 0        | 0    | 0      | 0       | 0       | 74      | 70   | 0       | 0       | 80      | 0    | 56      | 77.5
Grass    | 55   | 0    | 0       | 50       | 0     | 0        | 0    | 0      | 61.4    | 0       | 0       | 0    | 70      | 0       | 100     | 76   | 0       | 60
... (9 rows omitted)

### What percent of pokemons have att speed over 85 and def over 30 (Daniel)

In [23]:
pokemon.where('Speed',are.above(85)).where('Defense', are.above(30)).num_rows/pokemon.num_rows

0.275