In [ ]:
#run this cell first
from math import *  # for math functions
from datascience import *  #always have this line in order to access table related functions

# Lab 01 

1. Numbers (Chatper 3.1 [Expressions](http://www.inferentialthinking.com/chapters/03/1/Expressions.html))
2. Names
3. Calling Functions
4. Application: Physics Experiment (optional, extra credit)
5. Application: Shane's Planning Assisant
6. Table Basics

# 1. Numbers

Quantitative information arises everywhere in data science. In addition to representing commands to print out lines, expressions can represent numbers and methods of combining numbers. The expression `3.2500` evaluates to the number 3.25. 

<font color='red'>Add a code cell below, and type in 3.2500, Run the cell and see what happen</font>

*hint: how to add a code cell?*

1. hotkey method: (1) change to command mode by pressing ESC button; (2) make this cell active (3) push key B ; *

2. menu method: go to menu Insert -> Insert Cell Below*

##  Arithmetic
Many basic arithmetic operations are built into Python.  The textbook section on [Expressions](http://www.inferentialthinking.com/chapters/03/1/Expressions.html) describes all the arithmetic operators used in the course.  The common operator that differs from typical math notation is `**`, which raises one number to the power of the other. So, `2**3` stands for $2^3$ and evaluates to 8. 

The order of operations is the same as what you learned in elementary school, and Python also has parentheses.  For example, the cell below is for $$6 + (6 \times 5 - (6 \times 3))^2 \times (\frac{(2^3)}{4} \times 7).$$

In [ ]:
6+(6*5-(6*3))**2*((2**3)/4*7)

***
**Question 1.** Write a Python expression in this next cell that's equal to $5 \times (3 \frac{10}{11}) - 50 \frac{1}{3} + 2^{.5 \times 22} - \frac{7}{33} + 3$.  That's five times three and ten elevenths, minus fifty and a third, plus two to the power of half twenty-two, minus seven thirty-thirds plus three.  By "$3 \frac{10}{11}$" we mean $3+\frac{10}{11}$, not $3 \times \frac{10}{11}$.

Replace the ellipses (`...`) with your expression.  Try to use parentheses only when necessary. If you've done it correctly, your result should be the current year.


****

In [ ]:
...

# 2. Names
In natural language, we have terminology that lets us quickly reference very complicated concepts. 
In Python, we do this with *assignment statements*. An assignment statement has a name on the left side of an `=` sign and an expression to be evaluated on the right.

In [ ]:
ten = 3 * 2 + 4

When you run that cell, Python first computes the value of the expression on the right-hand side, `3 * 2 + 4`, which is the number 10.  Then it assigns that value to the name `ten`.  At that point, the code in the cell is done running.

After you run that cell, the value 10 is bound to the name `ten`:

In [ ]:
ten

The statement `ten = 3 * 2 + 4` is not asserting that `ten` is already equal to `3 * 2 + 4`, as we might expect by analogy with math notation.  Rather, that line of code changes what `ten` means; it now refers to the value 10, whereas before it meant nothing at all.

If the designers of Python had been ruthlessly pedantic, they might have made us write

    define the name ten to hereafter have the value of 3 * 2 + 4 

instead.  You will probably appreciate the brevity of "`=`"!  But keep in mind that this is the real meaning.

**Question 2.** Try writing code that uses a name (like `eleven`) that hasn't been assigned to anything.  You'll see an error!

In [ ]:
eleven

A common pattern in Jupyter notebooks is to assign a value to a name and then immediately evaluate the name in the last line in the cell so that the value is displayed as output.

In [ ]:
close_to_pi = 355/113
close_to_pi

Another common pattern is that a series of lines in a single cell will build up a complex computation in stages, naming the intermediate results.

In [ ]:
semimonthly_salary = 841.25
monthly_salary = 2 * semimonthly_salary
number_of_months_in_a_year = 12
yearly_salary = number_of_months_in_a_year * monthly_salary
yearly_salary

### Rules of Names

1. Names in Python can have letters (upper- and lower-case letters are both okay and count as different letters), underscores, and numbers.  
2. The first character can't be a number (otherwise a name might look like a number).  
3. Names can't contain spaces, since spaces are used to separate pieces of code from each other.

Other than those rules, what you name something doesn't matter *to Python*.  **However** names are very important for making your code *readable* to yourself and others.

***Question***: run the cell below, it will throw an error, please fix it

In [ ]:
x=3
3x

## 3. Calling functions

The most common way to combine or manipulate values in Python is by calling functions.
For example, the `sqrt` function takes a single (positive) number as its argument and returns the square root of that number. Run the next two cells and see if you understand the output.
abs is a function that take an absolute value of the a number, fix the second cell using abs function.

**Note:** `sqrt` is a function from math library, we need to first import the library in order to use the function.

In [ ]:
sqrt(25)

In [ ]:
sqrt(-5)

## 4. Application: A physics experiment 

On the Apollo 15 mission to the Moon, astronaut David Scott famously replicated Galileo's physics experiment in which he showed that gravity accelerates objects of different mass at the same rate. Because there is no air resistance for a falling object on the surface of the Moon, even two objects with very different masses and densities should fall at the same rate. David Scott compared a feather and a hammer.

You can run the following cell to watch a video of the experiment.

In [ ]:
from IPython.display import YouTubeVideo
# The original URL is: 
# https://www.youtube.com/watch?v=U7db6ZeLR5s

YouTubeVideo("U7db6ZeLR5s")

Here's the transcript of the video:

**167:22:06 Scott**: Well, in my left hand, I have a feather; in my right hand, a hammer. And I guess one of the reasons we got here today was because of a gentleman named Galileo, a long time ago, who made a rather significant discovery about falling objects in gravity fields. And we thought where would be a better place to confirm his findings than on the Moon. And so we thought we'd try it here for you. The feather happens to be, appropriately, a falcon feather for our Falcon. And I'll drop the two of them here and, hopefully, they'll hit the ground at the same time. 

**167:22:43 Scott**: How about that!

**167:22:45 Allen**: How about that! (Applause in Houston)

**167:22:46 Scott**: Which proves that Mr. Galileo was correct in his findings.

**Newton's Law.** Using this footage, we can also attempt to confirm another famous bit of physics: Newton's law of universal gravitation. Newton's laws predict that any object dropped near the surface of the Moon should fall

$$\frac{1}{2} G \frac{M}{R^2} t^2 \text{ meters}$$

after $t$ seconds, where $G$ is a universal constant, $M$ is the moon's mass in kilograms, and $R$ is the moon's radius in meters.  So if we know $G$, $M$, and $R$, then Newton's laws let us predict how far an object will fall over any amount of time.

To verify the accuracy of this law, we will calculate the difference between the predicted distance the hammer drops and the actual distance.  (If they are different, it might be because Newton's laws are wrong, or because our measurements are imprecise, or because there are other factors affecting the hammer for which we haven't accounted.)

Someone studied the video and estimated that the hammer was dropped 113 cm from the surface. Counting frames in the video, the hammer falls for 1.2 seconds (36 frames).

**Question 4.1** Complete the code in the next cell to fill in the data from the experiment.

*Hint:* No computation required; just fill in data from the paragraph above.

<!--
BEGIN QUESTION
name: q3_3_1
-->

In [ ]:
# t, the duration of the fall in the experiment, in seconds.
# Fill this in.
time = ...
# The estimated distance the hammer actually fell, in meters.
# Fill this in.
estimated_distance_m = ...

**Question 4.2.** Now, complete the code in the next cell to compute the difference between the predicted and estimated distances (in meters) that the hammer fell in this experiment.

This just means translating the formula above ($\frac{1}{2}G\frac{M}{R^2}t^2$) into Python code.  You'll have to replace each variable in the math formula with the name we gave that number in Python code.

*Hint:* Try to use variables you've already defined in question 4.1

<!--
BEGIN QUESTION
name: q3_3_2
-->

In [ ]:
# First, we've written down the values of the 3 universal constants 
# that show up in Newton's formula.

# G, the universal constant measuring the strength of gravity.
gravity_constant = 6.674 * 10**-11 

# M, the moon's mass, in kilograms.
moon_mass_kg = 7.34767309 * 10**22 

# R, the radius of the moon, in meters.
moon_radius_m = 1.737 * 10**6 

# The distance the hammer should have fallen 
# over the duration of the fall, in meters, 
# according to Newton's law of gravity.  
# The text above describes the formula
# for this distance given by Newton's law.
# **YOU FILL THIS PART IN.**
predicted_distance_m = ...

# Here we've computed the difference 
# between the predicted fall distance and the distance we actually measured.
# If you've filled in the above code, this should just work.
difference = predicted_distance_m - estimated_distance_m
difference

## 5. Application: Julie's Planning Assistant


<img src="UMBC-map.jpg"/>

This is the first day at UMBC for Julie. It is noon time, she just finished her class at ITE building, and plan to go to True Grit for lunch and meet her friend at 12:10pm. She is wondering whether she has enough time to stop by at the library to pick up a textbook. She has a copy of UMBC map as above.

To simply the problem (as we usually have to do in solving real-world problems), we have following assumptions:

1. Assuming that Julie has been quite familar with the campus and she knows the shortest distance between two points;
2. The locations of interest sit on the grid (i.e. precisely on the intersection of the grid line), i.e. ITE is at F4, Library is at D5 and True Grit is at C7
3. Each grid is a square with side length of 500 feet
4. Julie's walking speed is 4.7 ft/s
5. You may recall that the direct/shortest distance between two points can be calculated using [Pythagorean Theorem.](https://www.youtube.com/watch?v=xbNXwRWjzSs)

**Question 5** 
In the code cell below, fill in the blank, in the Markdown/text cell after code cell, state your conclusion based on your calculation

In [ ]:
#STEP1: Gather some useful constants

#Julie's walking speed in feet/s
speed = ...
#grid side_length in feet
grid_length = ...

In [ ]:
#STEP2: Calculate some distances

#shortest distance between ITE and Library in feet, HINT: you will need to use sqrt function 
ITE_library = ...
#shortest distance between library and trueGrit
library_trueGrit= ...
#shorteset distance between ITE and trueGrit
ITE_trueGrit= ...

In [ ]:
#STEP3: Calculate time with/without detour to library, you will use the distance calculated in STEP2
# make sure you use the variable name (e.g. ITE_library) instead of number

#walking distance without detour to library
D1 = ...
#walking time in minutes without detour (recall: time = distance/speed, making sure converting to the correct units)
T1 = ...

#walking distance with detour to library
D2 = ...
#walking time in minutes (with debour)
T2 = ...

#print the time in minutes assuming Julie does not take the detour, round to 2 digits after decimal point
print(round(T1,2))

#print the time in minutes assuming Julie takes the detour, round to 2 digits after decimal point
print(round(T2,2))

### My conclusion:
Based on your calculation, does Julie has enough time to stop by at the library to pick up a textbook, if she doesn't want to be late for the lunch meeting with her friend?

## 6. Table Basics
In this problem, you will construct a table that is related to your hobby. For example, (as I learned from the introduction), a number of you like to eat Sushi, so you could construct a table by collecting useful information of the best Sushi restaurant in this area. This will be a small table with 4-5 rows and 3-4 columns. Columns will cover each of the data types we talked in the class, i.e. int, float and str. It will be helpful for you write the table on the paper or spreadsheet before writing codes to construct the table.

Reference [Table Basics](https://inferentialthinking.com/chapters/06/Tables.html)

In [ ]:
#codes to create table

## Submission

Make sure you have run all cells in your notebook in order before running the cell below, so that all images/graphs appear in the output. Then output a pdf file and submit via blackboard.