In [1]:
from datascience import *

In [7]:
bill=Table.read_table('../data/billionaires.csv')
bill.show(4)

In [8]:
bill.num_rows

500

In [9]:
bill.num_columns

4

In [12]:
bill.labels

('name', 'net worth', 'citizenship', 'industry')

In [13]:
bill.take(make_array(1,3,5))

name           | net worth    | citizenship   | industry
Bill Gates     | 115488591742 | United States | Technology
Warren Buffett | 89408278188  | United States | Diversified
Amancio Ortega | 73839366133  | Spain         | Retail

In [17]:
bill_networth = bill.select('name','net worth')
bill_networth

name            | net worth
Jeff Bezos      | 115739645754
Bill Gates      | 115488591742
Bernard Arnault | 102244728472
Warren Buffett  | 89408278188
Mark Zuckerberg | 83053011017
Amancio Ortega  | 73839366133
Larry Page      | 69933009751
Sergey Brin     | 67825250468
Carlos Slim     | 62527178289
Charles Koch    | 61046822719
... (490 rows omitted)

In [20]:
bill3 = bill.drop('citizenship')
bill3

name            | net worth    | industry
Jeff Bezos      | 115739645754 | Technology
Bill Gates      | 115488591742 | Technology
Bernard Arnault | 102244728472 | Consumer
Warren Buffett  | 89408278188  | Diversified
Mark Zuckerberg | 83053011017  | Technology
Amancio Ortega  | 73839366133  | Retail
Larry Page      | 69933009751  | Technology
Sergey Brin     | 67825250468  | Technology
Carlos Slim     | 62527178289  | Diversified
Charles Koch    | 61046822719  | Industrial
... (490 rows omitted)

In [22]:
bill_new = bill.relabeled('net worth', 'networth')

In [27]:
bill.sort('name', descending=False)

name                    | net worth   | citizenship        | industry
Abby Johnson            | 18201852296 | United States      | Finance
Agnete Thinggaard       | 5525158878  | Denmark            | Consumer
Alain Bouchard          | 4419419767  | Canada             | Retail
Alain Merieux           | 5878201295  | France             | Health Care
Alain Wertheimer        | 30197517906 | France             | Consumer
Alberto Bailleres       | 8650037963  | Mexico             | Commodities
Alejandro Santo Domingo | 13377266267 | Colombia           | Food & Beverage
Alexander Abramov       | 7247853620  | Russian Federation | Industrial
Alexander Otto          | 6048241665  | Germany            | Real Estate
Alexey Kuzmichev        | 7089777594  | Russian Federation | Diversified
... (490 rows omitted)

In [29]:
bill.where('citizenship', are.equal_to('United States')).num_rows

172

In [30]:
bill.where('citizenship', 'United States').num_rows

172

In [33]:
bill.where('net worth', are.above(12000000000)).num_rows/bill.num_rows

0.252

In [37]:
us = bill.where('citizenship', are.equal_to('United States'))
num_bill_us = us.num_rows
num_bill_us

172