In [ ]:
from datascience import *
import numpy as np

%matplotlib inline
import matplotlib.pyplot as plots
plots.style.use('fivethirtyeight')

## Functions ##

In [ ]:
def say_hello(name):
    return 'hello ' + name
say_hello('Andrew')

In [ ]:
#Your turn: write a function trip that returns the triple of a given input

In [ ]:
triple(9)

In [ ]:
triple('hello')

In [ ]:
num = 4

In [ ]:
triple(num)

### Note About Scopes

In [ ]:
x

In [ ]:
x = 5

In [ ]:
triple(2 * x)

In [ ]:
x

### Type Agnostic

In [ ]:
triple('ha')

In [ ]:
triple(np.arange(4))

### What this function do?

In [ ]:
def percent_of_total(s):
    return np.round(s / sum(s) * 100, 2)

In [ ]:
percent_of_total(make_array(1,1,1,1))

In [ ]:
percent_of_total(make_array(1, 213, 38))

### Multiple Arguments

$ h^2 = x^2 + y^2 \hspace{20 pt} => \hspace{20 pt} h = \sqrt{ x^2 + y^2 } $

In [ ]:
def hypotenuse(x,y):
    hypot_squared = (x ** 2 + y ** 2)
    return hypot_squared ** 0.5

In [ ]:
hypotenuse(9, 12)

In [ ]:
hypotenuse(2, 2)

In [ ]:
hypotenuse(1)

In [ ]:
#Your turn: write a function called hello2 will do the following
#hello2('A','B')
#output: 'Hello A and B'
...

In [ ]:
hello2('A', 'B')

## Apply using function

In [ ]:
student = Table().with_columns(
    'Name', make_array('Jim', 'Dwight', 'Michael', 'Creed'),
    'Birth Year', make_array(1985, 1988, 1967, 1904)
)
student

In [ ]:
def greeting(person):
    return 'Bonjour ' + person

In [ ]:
greeting('Karen')

In [ ]:
greeting('Dang')

In [ ]:
student.with_column('greeting',student.apply(greeting, 'Name'))

In [ ]:
def name_and_age(name, year):
    age = 2024 - year -1
    return name + ' is ' + str(age) + ' years old'

In [ ]:
name_and_age('Thomas',2006)

In [ ]:
student2 = student.apply(name_and_age, 'Name','Birth Year')
student2

In [4]:
#Your turn: add an addtional column called Over35, if the stduent age in 2024 is over 35 then "Yes", other than "No"
#hint: write a function, then use apply
...